{% load static %}
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <title>Testeo</title>
    <link rel="stylesheet" href="{%static 'css/foundation.min.css'%}">
</head>
<body>
    <h1 class="ejemplo">Hola mundo manolo</h1>
    <!-- Anchors (links) -->
<a href="about.html" class="button">Learn More</a>
<a href="#features" class="button">View All Features</a>

<!-- Buttons (actions) -->
<button type="button" class="success button">Save</button>
<button type="button" class="alert button">Delete</button>
    
</body>
</html>
